body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 200px;
    height: 100vh; /* Full height of the viewport */
    background-color: pink; /* Sidebar color */
    padding-top: 20px;
    position: fixed; /* Fixes the sidebar position relative to the viewport */
    top: 0; /* Aligns the top of the sidebar with the top of the viewport */
    left: 0; /* Aligns the left side of the sidebar with the left side of the viewport */
}

.main-content {
    margin-left: 200px; /* Adjusts the main content area to not be hidden behind the fixed sidebar */
    /* Other styling */
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
.sidebar a:hover {
    background-color: #ddd;
}

.active {
    font-weight: bold;
    color: black; /* or any color you prefer */
    background-color: #pink; /* optional: background color for active link */
}
